    html {
        background-color: #f6f0e7e4;
        width: 99%;
        border: 0px;
        font: 15px Helvetica, serif;
    }
    
    div.header {
        position: relative;
        top: 7;
        right: 2;
        left: 12;
        width: 99%;
        display: inline-block;
    }
    
    div.header button {
        right: -1050;
        padding: 6px;
        width: 100px;
        margin-right: 1px;
        display: inline-block;
        position: relative;
        align-content: right;
    }
    
    .body {
        font-family: 18px Helvetica, serif;
        position: relative;
        left: 81;
        right: 2;
        top: 18;
        width: 81%;
        display: flex;
        justify-content: left;
    }
    
    table,
    td {
        padding: 6px;
        display: inline-flex;
    }
    
    .footer {
        position: fixed;
        bottom: 12;
        width: 99%;
        text-align: center;
    }